@using AppleStore.Domain.DeviceType
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppleStore.Domain.Entity.Order

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Редактирование заказа</title>
</head>
<body>
<div>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        <input type="hidden" asp-for="DevicesId" value="@Model.DevicesId"/>
        <label asp-for="Name">Имя:</label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
        <label asp-for="Address">Адрес:</label>
        <input asp-for="Address" class="form-control" value="@Model.Address"/>
        <label asp-for="Price">Цена:</label>
        <input asp-for="Price" class="form-control" value="@Model.Price"/>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" value="@Model.Email"/>
        <label asp-for="Status">Статус</label>
        <select asp-for="Status" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(OrderStatus)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <button type="submit">Обновить заказ</button>
    </form>
    <div class="center-container">
        <a class="center-button" href="@Url.Action("Delete", "Order",new {area="Admin", orderId=@Model.Id}) ">Удалить Заказ</a>
    </div>
</div>
</body>
</html>