@using AppleStore.Extensions
@model IEnumerable<AppleStore.Domain.ViewModels.DeviceOrderViewModel>

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
<h2>Список заказов</h2>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Адрес</th>
        <th>Заказанные товары</th>
        <th>Цена</th>
        <th>Статус</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var viewModel in Model)
    {
        <tr>
            <td>@viewModel.Order.Name</td>
            <td>@viewModel.Order.Email</td>
            <td>@viewModel.Order.Address</td>
            <td>@foreach (var device in viewModel.Devices)
                {
                    <p>@device.Name</p>
                /*<span class="bullet">&#8226;</span>@device.Name<br/>*/
                }
                </td>
            <td>@viewModel.Order.Price руб</td>
            <td>@viewModel.Order.Status.DisplayName()</td>
            <td><a class="edit-button" href="@Url.Action("Edit", "Order", new { id = viewModel.Order.Id, area="Admin" })">Редактировать заказ</a></td>
            <td><a class="edit-button" href="@Url.Action("Delete", "Order", new { orderId = viewModel.Order.Id, area="Admin" })">Удалить заказ</a></td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>