@using AppleStore.Domain.DeviceType
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AppleStore.Domain.Entity.Device

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Редактирование устройства</title>
</head>
<body>
<div>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <label asp-for="Name">Название:</label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
        <label asp-for="Description">Описание:</label>
        <input asp-for="Description" class="form-control" value="@Model.Description"/>
        <label asp-for="Price">Цена:</label>
        <input asp-for="Price" class="form-control" value="@Model.Price"/>
        <label asp-for="ImageUrl">URL на картинку:</label>
        <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl"/>
        <label asp-for="Type">Тип</label>
        <select asp-for="Type" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(DeviceType)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <button type="submit">Обновить девайс</button>
    </form>
        <div class="center-container">
        <a class="center-button" href="@Url.Action("Delete", "Device",new {area="Admin", id=@Model.Id}) ">Удалить девайс</a>
        </div>
</div>
</body>
</html>
